<Page *ngIf="weather.active">
    <ActionBar [ngClass]="weather.style.color">
        <SearchBar hint="Search location" id="addLocation" (submit)="onAddLocation($event)"></SearchBar>
        <ActionItem (tap)="onSetCurrentLocation()" ios.position="right">
            <Label [text]="'fa-map-marker' | fonticon" class="fa"></Label>
        </ActionItem>>
    </ActionBar>

    <StackLayout class="app-main" [ngClass]="weather.style.color">
        <FlexboxLayout flexDirection="column" justifyContent="space-between" alignItems="center" height="100%">
            <Weather [weather]="weather" row="0"></Weather>
            <Forecast [forecast]="forecast" row="2"></Forecast>
        </FlexboxLayout>
    </StackLayout>
</Page>