@import '../colors';
@import '../global';

.app-main {
  background: $COL_DEFAULT;
  padding: 40 20 20 20;
}

ActionBar {
  background: $COL_DEFAULT;

  Label {
    color: $COL_WHITE;
    font-size: 20;
    display: block;
    padding: 20 10;

    &.btn-menu {
      padding-left: 0;
    }

    &.btn-refresh {
      padding-right: 0;
    }
  }
}

SearchBar {
  background: $COL_WHITE;
}

.drawer {
  background: $COL_BLACK;
}

.default {
  background: $COL_DEFAULT;
}

.cloudy {
  background: $COL_CLOUDY;
}

.clear-day {
  background: $COL_CLEAR;
}

.clear-night {
  background: $COL_CLEAR-NIGHT;
}

.rain {
  background: $COL_RAIN;
}

.partly-cloudy-day {
  background: $COL_PARTLY-CLOUDY-DAY;
}

.snow {
  background: $COL_SNOW;
}

.active-search {
  background: red;

  .ai-location,
  .ai-refresh {
    visibility: collapse;
  }
}

.not-active-seach {
  background: pink;
}

