$COL_WHITE: #fff;
$COL_YELLOW: #FFCD00;

$COL_CLEAR: #4874D6;
$COL_CLOUDY: #8F97A8;
$COL_DEFAULT: #7F8BAB;
$COL_CLEAR-NIGHT: #272740;
$COL_PARTLY-CLOUDY-DAY: #7E93B4;
$COL_RAIN: #999;
$COL_SNOW: #8D96A8;