$COL_BLACK: #111;
$COL_WHITE: #fff;
$COL_YELLOW: #FFCD00;

$COL_CLEAR: #4874D6;
$COL_CLOUDY: #858EA1;
$COL_DEFAULT: #6762CF;
$COL_CLEAR-NIGHT: #272740;
$COL_PARTLY-CLOUDY-DAY: #888AD0;
$COL_RAIN: #999;
$COL_SNOW: #8D96A8;