@import '../../colors';
@import '../../global';

.block-info {
  margin: 0 0 10 -10;

  Label {
    color: $COL_WHITE;

    &.icon {
      font-size: 18;
      margin: 2 3 0 10;
    }

    &.divide {
      margin: 0 0 2 10;
      opacity: 0.3;
    }
  }
}

.block-current-weather {
  text-align: center;

  .headline-location {
    color: $COL_WHITE;
    font-size: 40;
  }

  .summary {
    color: $COL_WHITE;
    margin-bottom: 5;
  }

  .temperature {
    color: $COL_WHITE;
    font-size: 90;
    font-weight: 300;
  }

  .icon {
    font-size: 40;
  }
}