<Label [text]="forecast?.day1.day"></Label>
<Label [text]="forecast?.day1.temperatureHigh + '&deg;C'"></Label>
<Label [text]="forecast?.day1.temperatureLow + '&deg;C'"></Label>
<Label [text]="'wi-forecast-io-' + forecast?.day1.icon | fonticon" class="wi icon"></Label>
<Label text="----------"></Label>
<Label [text]="forecast?.day2.day"></Label>
<Label [text]="forecast?.day2.temperatureHigh + '&deg;C'"></Label>
<Label [text]="forecast?.day2.temperatureLow + '&deg;C'"></Label>
<Label [text]="'wi-forecast-io-' + forecast?.day2.icon | fonticon" class="wi icon"></Label>
<Label text="----------"></Label>
<Label [text]="forecast?.day3.day"></Label>
<Label [text]="forecast?.day3.temperatureHigh + '&deg;C'"></Label>
<Label [text]="forecast?.day3.temperatureLow + '&deg;C'"></Label>
<Label [text]="'wi-forecast-io-' + forecast?.day3.icon | fonticon" class="wi icon"></Label>
<Label text="----------"></Label>
<Label [text]="forecast?.day4.day"></Label>
<Label [text]="forecast?.day4.temperatureHigh + '&deg;C'"></Label>
<Label [text]="forecast?.day4.temperatureLow + '&deg;C'"></Label>
<Label [text]="'wi-forecast-io-' + forecast?.day4.icon | fonticon" class="wi icon"></Label>
<Label text="----------"></Label>
<Label [text]="forecast?.day5.day"></Label>
<Label [text]="forecast?.day5.temperatureHigh + '&deg;C'"></Label>
<Label [text]="forecast?.day5.temperatureLow + '&deg;C'"></Label>
<Label [text]="'wi-forecast-io-' + forecast?.day5.icon | fonticon" class="wi icon"></Label>
<Label text="----------"></Label>
<Label [text]="forecast?.day6.day"></Label>
<Label [text]="forecast?.day6.temperatureHigh + '&deg;C'"></Label>
<Label [text]="forecast?.day6.temperatureLow + '&deg;C'"></Label>
<Label [text]="'wi-forecast-io-' + forecast?.day6.icon | fonticon" class="wi icon"></Label>
<Label text="----------"></Label>